flask
requests
boto3
python-dotenv
fastapi[standard]
pydantic
uvicorn
email-validator  # for pydantic EmailStr
python-multipart  # for fastapi file upload
pydantic_settings  # for core.config.py - Settings
